<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" routerLink="/home" size="large" slot="start"></ion-icon>
    <ion-title>Add location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #addLocationForm="ngForm">
  <ion-list>
      <ion-item>
        <ion-label position="stacked" fixed>Picture</ion-label>
        <ion-icon id="cameraicon" *ngIf="newPlace.picture == undefined" name="camera" (click)="getPhoto()"></ion-icon>
        <img *ngIf="newPlace.picture !== undefined" height="200" [src]="newPlace.picture" (click)="getPhoto()">
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Location</ion-label>
        <ion-input #locationAddress="ngModel" name="locationaddress" [(ngModel)]="newPlace.address" required type="text"></ion-input>
        <ion-button slot="end" (click)="getAddressInfo()" size="small"><ion-icon name="compass"></ion-icon></ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">What's the name of this location?</ion-label>
        <ion-input #locationTitle="ngModel" name="locationtitle" [(ngModel)]="newPlace.title" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Why this is great?</ion-label>
        <ion-textarea #locationDescription="ngModel" name="locationdescription" [(ngModel)]="newPlace.description" ></ion-textarea>
      </ion-item>
  </ion-list>
</form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="locationAddress.invalid || locationTitle.invalid || newPlace.description == '' ||  newPlace.description == null" (click)="savePlace()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
