<ion-header>
  <ion-toolbar>
    <ion-title>
      Places
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let place of places; let i = index">
      <ion-img *ngIf="place.picture" class="picturePlace" [src]="place.picture"></ion-img>
      <ion-card-header>
          <ion-card-title>{{place.title}}</ion-card-title>
          <ion-card-subtitle>{{place.address}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>{{place.description}}</p>
      </ion-card-content>
      <ion-card-content>
        <ion-button color="danger" (click)="deletePlace(i)" size="small">Remove</ion-button>
      </ion-card-content> 
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddPlacePage()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
